.details{
    position: relative;
    height: 37vw;
    margin-top: -40px;
}

.details_background,
.details_background_shadow,
.details_background_image,
.details_area{
    position: absolute;
    top: 0;
    bottom: 0;
}

.details_background{
    left: 0;
    right: 0;
}

.details_background_shadow{
    left: 0;
    background: #000;
    width: 30%;
    z-index: 2;
}

.details_background_shadow::before{
    content: '';
    position: absolute;
    z-index: 10;
    background-image: linear-gradient(to right, #000, transparent);
    top: 0;
    bottom: 0;
    left: 100%;
    width: 275px;
} 

.details_background_image{
    right: 0;
    width: 75%;
    height: 100%;
    background-position: center 10%;
    background-size: cover;
    z-index: 1;
}

.details_area{
    left: 0;
    right: 0;
    height: 100%;
    z-index: 3;
}

.details_area_container{
    padding: 30px 70px;
    color: wheat;
}

.details_title{
    font-size: 45px;
    color: white;
    font-weight: 700;
    display: flex;
    margin-right: auto;
}

.details_description{
    font-size: 18px;
    color: #999;
    margin-top: 20x;
    max-width: 500px;
    text-align: left;
}

.trailerButton{
    width: 130px;
    height: 30px;
    background-color: #c30913;
    display: flex;
    margin-left: 70px;
    margin-right: auto;
    padding-left: 40px;
    align-items: center;
    outline: none;
    border: none;
    color: white;
    opacity: 0.7;
}

.trailerButton:hover{
    opacity: 1;
}
